.gameCardButton {
    flex: 0 0 70px;
    height: 70px;
    background: url(../icons/card-suit.png) no-repeat center / contain;
    cursor: pointer;
    margin: 5px;
    color: white;
    border-radius: 6px;
}
.gameCardButton:hover,
.gameStartButton:hover {
    filter: drop-shadow(0px 0px 10px white)
}

.gameStartButtonContainer {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
}
.gameCardContainer {
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
}

.invisible {
    visibility: hidden;
}
.gameCardOpened {
    background: none;
}
.gameContainer {
    width: 525px;
    height: 700px;
    background: url(../icons/backgorund.jpg) no-repeat center / contain;
}
.gameStartButton {
    margin: 12px auto 0 auto;
    width: 100px;
    height: 30px;
    cursor: pointer;
    background-color: #cb3630;
    border-radius: 6px;
    font-weight: 600;
    color: white;
}
.gameTimerSpot {
    height: 40px;
    color: white;
    font-size: 22px;
}